<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.academymanagement.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.academymanagement.modal.Comment">
        <id column="comment_id" property="commentId" />
        <result column="comment_time_id" property="commentTimeId" />
        <result column="user_info_id" property="userInfoId" />
        <result column="user_id" property="userId" />
        <result column="score" property="score" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
