<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.academymanagement.mapper.NewsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.academymanagement.modal.News">
        <id column="news_id" property="newsId" />
        <result column="news_type" property="newsType" />
        <result column="news_title" property="newsTitle" />
        <result column="news_image" property="newsImage" />
        <result column="news_brief" property="newsBrief" />
        <result column="news_content" property="newsContent" />
        <result column="news_time" property="newsTime" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="rank" property="rank" />
    </resultMap>

    <select id="getNewsList" resultMap="BaseResultMap">
        select news_id, news_type, news_title,news_image, news_brief, news_content, news_time, rank from news where
        status = 1
        <if test="type != null">
            and news_type = #{type}
        </if>
        <if test="keyword != null">
            <bind name = "keyword" value="'%' + keyword + '%'"></bind>
            and news_title like #{keyword}
        </if>
        <if test="startTime != null">
            and create_time &gt; #{startTime}
        </if>
        <if test="endTime != null">
            and create_time &lt; #{endTime}
        </if>
        order by rank,create_time desc
    </select>
</mapper>
