<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.academymanagement.mapper.NoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.academymanagement.modal.Notice">
        <id column="notice_id" property="noticeId" />
        <result column="type" property="type" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="is_limit" property="isLimit" />
        <result column="url" property="url" />
        <result column="publish_time" property="publishTime" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="image_url" property="imageUrl" />

    </resultMap>

    <select id="getNoticeList" resultMap="BaseResultMap">
        select notice_id, title, content, publish_time, image_url from notice where
        status = 1
        <if test="keyword != null">
            <bind name = "keyword" value="'%' + keyword + '%'"></bind>
            and title like #{keyword}
        </if>
        <if test="startTime != null">
            and create_time &gt; #{startTime}
        </if>
        <if test="endTime != null">
            and create_time &lt; #{endTime}
        </if>
        order by create_time desc
    </select>
</mapper>
