<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.academymanagement.mapper.OfficeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.academymanagement.modal.Office">
        <id column="office_id" property="officeId" />
        <result column="office_type" property="officeType" />
        <result column="office_name" property="officeName" />
        <result column="office_img" property="officeImg" />
        <result column="address" property="address" />
        <result column="phone_num" property="phoneNum" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
