<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.academymanagement.mapper.SciMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.academymanagement.modal.Sci">
        <id column="article_id" property="articleId" />
        <result column="type" property="type" />
        <result column="title" property="title" />
        <result column="article_image" property="articleImage" />
        <result column="brief" property="brief" />
        <result column="content" property="content" />
        <result column="is_limit" property="isLimit" />
        <result column="publish_time" property="publishTime" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <select id="getSciList" resultMap="BaseResultMap">
        select article_id, type, title, article_image, brief, content, publish_time from news where
        status = 1
        <if test="type != null">
            and type = #{type}
        </if>
        <if test="keyword != null">
            <bind name = "keyword" value="'%' + keyword + '%'"></bind>
            and title like #{keyword}
        </if>
        <if test="startTime != null">
            and create_time &gt; #{startTime}
        </if>
        <if test="endTime != null">
            and create_time &lt; #{endTime}
        </if>
        order by create_time desc
    </select>

</mapper>
