<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.academymanagement.mapper.SciMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.academymanagement.modal.Sci">
        <id column="article_id" property="articleId" />
        <result column="type" property="type" />
        <result column="title" property="title" />
        <result column="article_image" property="articleImage" />
        <result column="brief" property="brief" />
        <result column="content" property="content" />
        <result column="publish_time" property="publishTime" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
