<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.academymanagement.mapper.SupervisorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.academymanagement.modal.Supervisor">
        <id column="sup_id" property="supId" />
        <result column="name" property="name" />
        <result column="image" property="image" />
        <result column="type" property="type" />
        <result column="surname" property="surname" />
        <result column="stroke" property="stroke" />
        <result column="initials" property="initials" />
        <result column="incumbency" property="incumbency" />
        <result column="title" property="title" />
        <result column="education" property="education" />
        <result column="position" property="position" />
        <result column="department" property="department" />
        <result column="academy" property="academy" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="intro" property="intro" />
        <result column="fields" property="fields" />
        <result column="create_time" property="createTime" />
        <result column="status" property="status" />
    </resultMap>

    <select id="getSupervisors" resultMap="BaseResultMap">
        select name,image,sup_id,title from supervisor where
        <if test="type == 1">
            department = #{keyword}
        </if>
        <if test="type == 2">
            title = #{keyword}
        </if>
        order by initials,stroke
    </select>

</mapper>
